.sm_image-trail-container {
    display: inline-block;
    background: transparent;
    border-bottom: 2px solid;
    width: 100%;
    height: 200px;
    padding: 50px;
    font-size: 4rem;
}

div.sm_image-trail {
    position: absolute;
    width: 640px;
    height: 360px;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

