.link {
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Height of the border line */
    background-color: white; /* Color of the border line */
    transition: width 0.3s ease-in-out; /* Transition for the width */
}

.link:hover::after {
    width: 100%; /* Full width of the link */
}
