.swiper-container {
    position: relative;
}

.swipe-button-prev,
.swipe-button-next {
    position: absolute;
    bottom: 80px;
    z-index: 10;
}

.pagination {
    position: absolute;
    bottom: 90px;
    z-index: 10;
}

.swipe-button-prev {
    left: calc(50% - 200px);
}

.swipe-button-next {
    right: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-prev {
        left: calc(50% - 150px);
        bottom: 50px;
    }
      
    .pagination {
        bottom:66px;
    }
}

@media (max-width: 640px) {
    .swipe-button-prev {
        left: calc(50% - 100px);
        bottom: 30px;
    }

    .pagination {
        bottom:46px;
    }
}


@media (max-width: 1024px) {
    .swipe-button-next {
        right: calc(50% - 150px);
        bottom: 50px;
    }
}

@media (max-width: 640px) {
    .swipe-button-next {
        right: calc(50% - 100px);
        bottom: 30px;
    }
}

.custom-cursor {
    cursor: url('../../../public/assetes/img/cursor.cur'), pointer;
}
