.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: none;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    background-color: none;
}

.swiper-slide {
    background-color: rgba($color: #000000, $alpha: 0);
}

.swipe-button-prev,
.swipe-button-next {
    position: absolute;
    bottom: 50%;
    z-index: 10;
}

.swipe-button-prev {
    left: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-prev {
        left: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-prev {
        left: calc(50% - 160px)
        // bottom: 30px;
    }
}

.swipe-button-next {
    right: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-next {
        right: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-next {
        right: calc(50% - 160px);
    }
}

.tooltip {
    .tooltip-text {
        visibility: hidden;
    }
}

.tooltip:hover {
    .tooltip-text {
        visibility: visible;
    }
}