.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    overflow: hidden;
}

.swipe-button-prev,
.swipe-button-next {
    position: absolute;
    bottom: 50%;
    z-index: 10;
}

.swipe-button-prev {
    left: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-prev {
        left: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-prev {
        left: calc(50% - 160px)
        // bottom: 30px;
    }
}

.swipe-button-next {
    right: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-next {
        right: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-next {
        right: calc(50% - 160px);
    }
}