.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: none;
    background: transparent;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    background-color: none;
    background: transparent;
}

.swiper-slide {
    background-color: rgba($color: #000000, $alpha: 0);
    background: transparent;
}

.swipe-button-prev,
.swipe-button-next {
    position: absolute;
    bottom: 50%;
    z-index: 10;
}

.swipe-button-prev {
    left: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-prev {
        left: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-prev {
        left: calc(50% - 160px)
        // bottom: 30px;
    }
}

.swipe-button-next {
    right: calc(50% - 200px);
}

@media (max-width: 1024px) {
    .swipe-button-next {
        right: calc(50% - 150px);
    }
}

@media (max-width: 760px) {
    .swipe-button-next {
        right: calc(50% - 160px);
    }
}

.tooltip {
    .tooltip-text {
        visibility: hidden;
    }
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover {
    .tooltip-text {
        visibility: visible;
    }
}

// .sm_image-trail-container {
//     // display: inline-block;
//     // background: transparent;
//     // border-bottom: 2px solid;
//     // width: 100%;
//     // height: 200px;
//     // padding: 50px;
//     // font-size: 4rem;
// }

div.sm_image-trail {
    position: absolute;
    width: 640px;
    height: 360px;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
